@page "/VillaNumber/Create"
@rendermode InteractiveServer
@namespace WhiteLagoon.Blazor.Components.Admin
@using Microsoft.AspNetCore.Mvc.Rendering
@using WhiteLagoon.Application.Services.Interface

@inject IVillaService VillaService
@inject IVillaNumberService VillaNumberService
@inject NavigationManager NavigationManager


<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Villa Number</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <EditForm Model="VillaNumbers" method="post" OnValidSubmit="CreateV">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <div class="p-3 col-12">
                    <div class="form-floating py-1 col-12">
                        <InputSelect @bind-Value="@VillaNumbers.VillaId" class="form-select border shadow">
                            <option disabled value="Select Villa">--Select Villa--</option>
                            @if(VillaList is not null)
                            {
                                @foreach (var villa in VillaList)
                                {
                                    <option value="@villa.Value">@villa.Text</option>
                                }
                            }
                        </InputSelect>
                        <label>Villa</label>
                        <ValidationMessage For="@(() => VillaNumbers.VillaId)" />
                    </div>

                    <div class="form-floating py-1 col-12">
                        <InputNumber @bind-Value="VillaNumbers.Villa_Number" class="form-control border shadow" />
                    <label>Villa Number</label>
                        <ValidationMessage For="@(() => VillaNumbers.Villa_Number)" />
                    </div>

                    <div class="form-floating py-1 col-12">
                        <InputText @bind-Value="VillaNumbers.SpecialDetails" class="form-control border shadow" />
                    <label>Special Details</label>
                        <ValidationMessage For="@(() => VillaNumbers.SpecialDetails)" />
                    </div>

                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="bi bi-check-circle"></i> Create
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-secondary w-100" @onclick="Cancel">
                                <i class="bi bi-x-circle"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </EditForm>
    </div>
</div>



@code {
    private WhiteLagoon.Domain.Entities.VillaNumber VillaNumbers = new WhiteLagoon.Domain.Entities.VillaNumber();
    IEnumerable<SelectListItem> VillaList { get; set; } 

    protected override void OnInitialized()
    {
        VillaList = (VillaService.GetAllVillas())
                                  .Select(u => new SelectListItem 
                                  { 
                                          Text = u.Name, 
                                          Value = u.Id.ToString() 
                                  })
                                  .ToList();
       
    }

    private void CreateV()
    {

        VillaNumberService.CreateVillaNumber(VillaNumbers);
        NavigationManager.NavigateTo("/villaNumber");
    }


    private void Cancel()
    {
        NavigationManager.NavigateTo("/villaNumber"); 
    }
}
